<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Edit event form -->
    <form action="/events/update/<%=event._id %>?_method=PUT" method="POST">

        <% console.log(event) %>

            <div class="step-form">
                <div class="mb-3">
                    <label for="newEveName" class="form-label">Event Name</label>
                    <input type="text" name="name" class="form-control" id="newEveName" value="<%= event.name %>"
                        placeholder="e.g.: Malkiya Beach">
                </div>
                <div class="form-floating mb-3">
                    <textarea name="description" class="form-control"
                        id="newEveDesc"><%= event.description %></textarea>
                    <label for="newEveDesc">Event Description</label>
                </div>
                <div class="mb-3">
                    <label for="addEveChooseCate" class="form-label">Choose Category</label>
                    <select name="categoryId" id="">
                        <% categories.forEach(function (category) { %>
                            <% console.log(event.categoryId); %>
                                <% console.log(category._id); %>
                                    <% if(category._id.toString()==event.categoryId.toString()) { %>
                                        <option value="<%= category._id %>" selected>
                                            <%= category.name %>
                                        </option>
                                        <% } else {%>
                                            <option value="<%= category._id %>">
                                                <%= category.name %>
                                            </option>
                                            <%} }); %>
                    </select>
                </div>
            </div>
            <div class="step-form">
                <div class="mb-3">
                    <label for="newEveLocation" class="form-label">Event Location</label>
                    <input type="text" name="location" class="form-control" id="newEveLocation"
                        placeholder="Google Map Link Only" value="<%= event.location %>">
                </div>
                <div class="mb-3">
                    <label for="newEvePic" class="form-label">Event Picture</label>
                    <input type="text" name="picture" class="form-control" id="newEvePic" value="<%= event.picture %>">
                </div>
                <div class="mb-3">
                    <label for="newEveCost" class="form-label">Event Cost <span>(Optional)</span></label>
                    <input type="text" name="cost" class="form-control" id="newEveCost" placeholder="e.g.: Free"
                        value="<%= event.cost %>">
                </div>
            </div>
            <div class="step-form">
                <div class="mb-3">

                    <label for="newEveStartDt" class="form-label">Event Start Date <span>(Optional)</span></label>
<<<<<<< HEAD
                    <input type="date" name="startDate" class="form-control" id="newEveStartDt" value="<%= event.startDate %>">
                    <%=console.log( event.startDate.getFullYear()+ -0+ event.startDate.getMonth()+ - +event.startDate.getDate() )%>
                </div>
                <div class="mb-3">
                    <label for="newEveEndDt" class="form-label">Event End Date <span>(Optional)</span></label>
                    <input type="date" name="endDate" class="form-control" id="newEveEndDt" value="<%= event.endDate %>">
                    <% console.log(event.endDate.getDate() + "-" + event.endDate.getMonth() +"-"+ event.endDate.getFullYear() ); %>
                    <%= console.log(event.endDate.getFullYear()+"-0"+ event.endDate.getMonth()+"-"+event.endDate.getDate() )%>
=======
                    <input type="date" name="startDate" class="form-control" id="newEveStartDt"
                        value="<%= event.startDate%>">

                </div>
                <div class="mb-3">
                    <label for="newEveEndDt" class="form-label">Event End Date <span>(Optional)</span></label>
                    <input type="date" name="endDate" class="form-control" id="newEveEndDt"
                        value="<%= event.endDate %>">
>>>>>>> a7c0eb336ead0b18e3c8151106d98b071efd9515

                </div>
                <div class="mb-3">
                    <label for="newEveTime" class="form-label">Event Time Duration <span>(Optional - Duration in
                            hours)</span></label>
                    <input type="number" name="timeDuration" class="form-control" id="newEveTime"
                        placeholder="min: 0.5, max: 24" min="0.5" max="24" value="<%= event.timeDuration %>">
                </div>
            </div>
            <div class="step-form">
                <div class="mb-3">
                    <label for="newEveContact" class="form-label">Event Contact <span>(Optional)</span></label>
                    <input type="text" name="contact" class="form-control" id="newEveContact"
                        placeholder="+973 XXXXXXXX" value="<%= event.contact %>">
                </div>
            </div>
            <div>
                <a href="/events">Cancel Edit</a>
                <button type="submit">Edit Event</button>
            </div>
    </form>

</body>

</html>