<%- include('../partials/navbar.ejs') %>
<% let total = 0,average = 0, eventLength =0 %>

    <div class="container">
        <div class="categories">
            <div class="title">
                <h1 class="titleOne">Checkout all of the Events in Bahrain!</h1>
            </div>
            <div class="classfications">
                <ul>
                    <li><button class="btn btn-secondary"><a href="/events" class="selected">All</a></button></li>
                    <% categories.forEach(function (category) { %>
                        <li><button class="btn btn-secondary"><a href="/categories/<%= category._id %>">
                                    <%= category.name %>
                                </a></button>

                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>


        <div class="events">

            <% events.forEach(function(eve) { %>
                <a href="/events/<%= eve._id %>" style="background-image:url(<%=eve.profile_img%>);" class="eventTitle eventStyle">
                    <div class="event">
                        <div class="content">
                            <span class="stars">
                                <% eve.reviews.forEach(function(the) { %>
                                    <% total+=the.rating %>
                                  <% }); %>
                                  <% eventLength = eve.reviews.length; %>
                                <% average = approximateToNearest(total, eventLength); %>
                                  <% if (average == 1) { %>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                  <% } else if (average == 2) { %>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                  <% } else if (average == 3) { %>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                  <% } else if (average == 4) { %>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill"></i>
                                  <% } else if (average == 5) { %>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                    <i class="bi bi-star-fill rated"></i>
                                  <% } else if (!average) { %>
                                    <p style="color: white;background-color: rgba(0, 0, 0, 0.6); padding: 2px 5px;border-radius: 7px;">
                                      Not Rated Yet &#128517;
                                    </p>
                                  <% } %>
                            </span>

                            <h2>
                                <%= eve.name %>
                            </h2>

                        </div>
                    </div>
                </a>
                <!-- <a href="/events/edit/<%= eve._id %>">Edit</a>
                            <form action="/events/delete/<%=eve._id %>?_method=DELETE"  method="POST">
                                <button type="submit">Delete</button>
                        </form>    THIS SHOULD BE IN THE ADMIN CONTROLLER     -->
                <% }); %>

        </div>

    </div>
    </div>


    <% 
    function approximateToNearest(number,event) {
        if(event != 0){
      if (number >= 0) {
        number = (number / event).toFixed(1);
        return Math.round(number);
      } else {
        number = (number / event).toFixed(1);
        return Math.floor(number);
      }
    } else {
        return NaN;
    }
    }
    %>
    <!-- <a href="/events/new">Add new Event</a> THIS SHOULD BE IN THE ADMIN CONTROLLER link to add new event then change it -->

    <%- include('../partials/footer.ejs') %>