<% if(user){ %>
<%- include('../partials/navbar.ejs') %>
    <h1 class="titleOne">Wanna Suggest an Event?</h1>
    <form action="/suggestions/create" id="suggestionForm" method="POST" enctype="multipart/form-data">
        <div class="step-form">
            <div class="mb-3">
                <label for="newEveName" class="form-label">Event Name</label>
                <input type="text" name="name" class="form-control" id="newEveName" placeholder="Enter Event Name">
            </div>
            <div class="form-floating mb-3">
                <textarea name="description" class="form-control" id="newEveDesc"></textarea>
                <label for="newEveDesc">Event Description</label>
            </div>
            <div class="mb-3">
                <label for="addEveChooseCate" class="form-label">Choose Category</label>
                <select name="categoryId" id="addEveChooseCate" class="form-control">
                    <% categories.forEach(function (category) { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="step-form">
            <div class="mb-3">
                <label for="newEveLocation" class="form-label">Event Location</label>
                <input type="text" name="location" class="form-control" id="newEveLocation" placeholder="Google Map Embed Link">
            </div>
            <div class="mb-3">
                <label for="addEveChooseCity" class="form-label">Choose City</label>
                <select name="cityId" class="form-select" id="addEveChooseCity">
                    <% cities.forEach(function (city) { %>
                        <option value="<%= city._id %>">
                            <%= city.name %>
                        </option>
                    <% }); %>
                </select>
            </div>
            <div class="mb-3">
                <label for="newEvePic" class="form-label">Event Image</label>
                <input type="file" name="image" class="form-control" id="newEvePic">
            </div>
            <div class="mb-3">
                <label for="newEveCost" class="form-label">Event Cost <span>(Optional)</span></label>
                <input type="text" name="cost" class="form-control" id="newEveCost" placeholder="Enter How Much The event Will Cost">
            </div>
        </div>
        <div class="step-form">
            <div class="mb-3">
                <label for="newEveStartDt" class="form-label">Event Start Date <span>(Optional)</span></label>
                <input type="date" name="startDate" class="form-control" id="newEveStartDt">
            </div>
            <div class="mb-3">
                <label for="newEveEndDt" class="form-label">Event End Date <span>(Optional)</span></label>
                <input type="date" name="endDate" class="form-control" id="newEveEndDt">
            </div>
            <div class="mb-3">
                <label for="newEveTime" class="form-label">Event Time Duration <span>(Optional - Duration in hours)</span></label>
                <input type="text" name="timeDuration" class="form-control" id="newEveTime" placeholder="Enter Duration of Event in hours">
            </div>
        </div>
        <div class="step-form">
            <div class="form-floating mb-5">
                <textarea type="text" name="contact" class="form-control" id="newEveContact"></textarea>
                <label for="newEveContact">Event Contacts Information<span>(Optional)</span></label>
            </div>
        </div>
    <div class="text-center mb-5">       
        <button type="submit" class="btn btn-dark">Suggest</button>
    </div>
</form>
<%- include('../partials/footer.ejs') %>
<% } else { %>


    <%- include('../partials/navbar.ejs') %>




<h1 class="titleOne">Please Login in Order to Suggest an Event</h1>

<div class="signInHolder">
    <a href="/auth/google">
      <button type="button" id="signIntoReview" class="btn btn-primary eventAdd">Login to Add Event!</button>

    </a>
    </div>

    <%- include('../partials/footer.ejs') %>



<% }  %>
