<% if(user){ %>
    <%- include('../partials/adminPartials/header.ejs') %>
<main>
    <div class="tabs custom-tabs">
        <h1 class="tabs-header">Events</h1>
        <div class="tabs-list-holder">
            <ul class="tabs-list mb-2" id="categroies-tab" role="tablist">
                <li class="tab-item" role="presentation">
                    <button class="tab-btn active" id="add-new-eve-tab" data-bs-toggle="pill" data-bs-target="#add-new-eve-cont" type="button" role="tab" aria-controls="add-new-eve-tab" aria-selected="true">Add New Event</button>
                </li>
                <li class="tab-item" role="presentation">
                    <button class="tab-btn" id="add-eve-sgst-tab" data-bs-toggle="pill" data-bs-target="#add-eve-sgst-cont" type="button" role="tab" aria-controls="add-eve-sgst-tab" aria-selected="false">Add New Event from Susgestion</button>
                </li>
                <li class="tab-item" role="presentation">
                    <button class="tab-btn" id="update-eve-tab" data-bs-toggle="pill" data-bs-target="#update-eve-cont" type="button" role="tab" aria-controls="update-eve-tab" aria-selected="false">Update Event</button>
                </li>
                <li class="tab-item" role="presentation">
                    <button class="tab-btn" id="delete-eve-tab" data-bs-toggle="pill" data-bs-target="#delete-eve-cont" type="button" role="tab" aria-controls="delete-eve-tab" aria-selected="false">Delete Event</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container cate-container">
        <div class="tab-content our-tab-content" id="categroies-tabContent">
            <div class="tab-pane fade show active add-new-cate" id="add-new-eve-cont" role="tabpanel" aria-labelledby="add-new-cate-tab" tabindex="0">
                <form class="step-form-holder" id="addNewEveForm" action="/admins/events" method="POST" enctype="multipart/form-data">
                    <h1 class="step-form-header">Add New Event</h1>
                    <div class="step-dots-holder">
                        <span class="step-dots">1</span>
                        <span class="step-dots">2</span>
                        <span class="step-dots">3</span>
                        <span class="step-dots">4</span>
                        <span class="step-dots">5</span>
                        <span class="step-dots">6</span>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newEveName" class="form-label">Event Name</label>
                            <input type="text" name="name" class="form-control" id="newEveName" placeholder="Enter Event Name">
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="description" class="form-control" id="newEveDesc"></textarea>
                            <label for="newEveDesc">Event Description</label>
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="addEveChooseCate" class="form-label">Choose Category</label>
                            <select name="categoryId" class="form-select" id="addEveChooseCate">
                                <% categories.forEach(function (category) { %>
                                    <option value="<%= category._id %>">
                                        <%= category.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="newEvePic" class="form-label">Event Image</label>
                            <input type="file" name="image" class="form-control" id="newEvePic">
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newEveLocation" class="form-label">Event Location</label>
                            <input type="text" name="location" class="form-control" id="newEveLocation" placeholder="Google Map Embed Link">
                        </div>
                        <div class="mb-3">
                            <label for="addEveChooseCity" class="form-label">Choose City</label>
                            <select name="cityId" class="form-select" id="addEveChooseCity">
                                <% cities.forEach(function (city) { %>
                                    <option value="<%= city._id %>">
                                        <%= city.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newEveStartDt" class="form-label">Event Start Date <span>(Optional)</span></label>
                            <input type="date" name="startDate" class="form-control" id="newEveStartDt">
                        </div>
                        <div class="mb-3">
                            <label for="newEveEndDt" class="form-label">Event End Date <span>(Optional)</span></label>
                            <input type="date" name="endDate" class="form-control" id="newEveEndDt">
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newEveCost" class="form-label">Event Cost <span>(Optional)</span></label>
                            <input type="text" name="cost" class="form-control" id="newEveCost" placeholder="Enter How Much The event Will Cost">
                        </div>
                        <div class="mb-3">
                            <label for="newEveTime" class="form-label">Event Time Duration <span>(Optional - Duration in hours)</span></label>
                            <input type="text" name="timeDuration" class="form-control" id="newEveTime" placeholder="Enter Duration of Event in hours">
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="form-floating mb-3">
                            <textarea type="text" name="contact" class="form-control" id="newEveContact"></textarea>
                            <label for="newEveContact">Event Contacts Information<span>(Optional)</span></label>
                        </div>
                    </div>
                    <div class="step-buttons">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade update-cate" id="add-eve-sgst-cont" role="tabpanel" aria-labelledby="add-eve-sgst-tab" tabindex="0">
                <form class="step-form-holder" id="addNewEveSgstForm" action="/admins/events" method="POST" enctype="multipart/form-data">
                    <h1 class="step-form-header">Add New Event from Suggestions</h1>
                    <div class="step-dots-holder">
                        <span class="step-dots-two">1</span>
                        <span class="step-dots-two">2</span>
                        <span class="step-dots-two">3</span>
                        <span class="step-dots-two">4</span>
                        <span class="step-dots-two">5</span>
                        <span class="step-dots-two">6</span>
                        <span class="step-dots-two">7</span>
                        <span class="step-dots-two">8</span>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="addEveChooseSgst" class="form-label">Choose Suggestions</label>
                            <select name="suggest-name" class="form-select" id="addEveChooseSgst">
                                <% let checkSuggestions = false %>
                                <% suggestions.forEach(function (suggest) { %>
                                    <% if(suggest.status){ %>
                                        <option value="<%= suggest._id %>">
                                            <%= suggest.name %>
                                        </option>
                                        <% checkSuggestions = true %>
                                    <% } %>
                                <% }); %>
                                <% if(!checkSuggestions){ %>
                                    <option disabled selected>There is no Suggestions yet.</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newEveNameSgst" class="form-label">Event Name</label>
                            <input type="text" name="name" class="form-control" id="newEveNameSgst" placeholder="Enter Event Name">
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="description" class="form-control" id="newEveDescSgst"></textarea>
                            <label for="newEveDescSgst">Event Description</label>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <img alt="Event Image">
                        </div>
                        <div class="mb-3">
                            <input type="hidden" id="oldEvePicSgst">
                            <input type="hidden" id="oldEvePicSgstCdId">
                            <label for="newEvePicSgst" class="form-label">Event Image</label>
                            <input type="file" name="image" class="form-control" id="newEvePicSgst">
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="addEveSgstChooseCate" class="form-label">Choose Category</label>
                            <select name="categoryId" class="form-select" id="addEveSgstChooseCate">
                                <% categories.forEach(function (category) { %>
                                    <option value="<%= category._id %>">
                                        <%= category.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newEveLocationSgst" class="form-label">Event Location</label>
                            <input type="text" name="location" class="form-control" id="newEveLocationSgst" placeholder="Google Map Embed Link">
                        </div>
                        <div class="mb-3">
                            <label for="addEveSgstChooseCity" class="form-label">Choose City</label>
                            <select name="cityId" class="form-select" id="addEveSgstChooseCity">
                                <% cities.forEach(function (city) { %>
                                    <option value="<%= city._id %>">
                                        <%= city.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newEveStartDtSgst" class="form-label">Event Start Date <span>(Optional)</span></label>
                            <input type="date" name="startDate" class="form-control" id="newEveStartDtSgst">
                        </div>
                        <div class="mb-3">
                            <label for="newEveEndDtSgst" class="form-label">Event End Date <span>(Optional)</span></label>
                            <input type="date" name="endDate" class="form-control" id="newEveEndDtSgst">
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newEveCostSgst" class="form-label">Event Cost <span>(Optional)</span></label>
                            <input type="text" name="cost" class="form-control" id="newEveCostSgst" value="">
                        </div>
                        <div class="mb-3">
                            <label for="newEveTimeSgst" class="form-label">Event Time Duration <span>(Optional - Duration in hours)</span></label>
                            <input type="text" name="timeDuration" class="form-control" id="newEveTimeSgst" placeholder="Enter Duration of Event in hours">
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="form-floating mb-3">
                            <textarea type="text" name="contact" class="form-control" id="newEveContactSgst"></textarea>
                            <label for="newEveContactSgst">Event Contacts Information<span>(Optional)</span></label>
                        </div>
                    </div>
                    <div class="step-buttons">
                        <% if(!checkSuggestions){ %>
                            <button type="button" disabled>No Suggestions</button>
                            <button type="button" id="prevBtnTwo" onclick="nextPrevTwo(-1)" hidden>Previous</button>
                            <button type="button" id="nextBtnTwo" onclick="nextPrevTwo(1)" hidden>Next</button>
                        <% } else { %>
                            <button type="button" id="prevBtnTwo" onclick="nextPrevTwo(-1)">Previous</button>
                            <button type="button" id="nextBtnTwo" onclick="nextPrevTwo(1)">Next</button>
                        <% }%>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade delete-cate" id="update-eve-cont" role="tabpanel" aria-labelledby="update-eve-tab" tabindex="0">
                <form class="step-form-holder" id="updateCateForm" action="">
                    <h1 class="step-form-header">Update Event</h1>
                    <div class="step-dots-holder">
                        <span class="step-dots-three">1</span>
                        <span class="step-dots-three">2</span>
                        <span class="step-dots-three">3</span>
                    </div>
                    <div class="step-form-three">
                        <label for="delCateChoose" class="form-label">Choose Category</label>
                        <select name="name" class="form-select" id="delCateChoose">
                            <option value="eduId">Education</option>
                            <option value="sptId">Sport</option>
                            <option value="campId">Camping</option>
                        </select>
                    </div>
                    <div class="step-form-three">
                        <label for="delCateChoose" class="form-label">Choose yyy</label>
                        <select name="name" class="form-select" id="delCateChoose">
                            <option value="eduId">Education</option>
                            <option value="sptId">Sport</option>
                            <option value="campId">Camping</option>
                        </select>
                    </div>
                    <div class="step-form-three">
                        <label for="delCateChoose" class="form-label">Choose xxx</label>
                        <select name="name" class="form-select" id="delCateChoose">
                            <option value="eduId">Education</option>
                            <option value="sptId">Sport</option>
                            <option value="campId">Camping</option>
                        </select>
                    </div>
                    <div class="step-buttons">
                        <button type="button" id="prevBtnThree" onclick="nextPrevThree(-1)">Previous</button>
                        <button type="button" id="nextBtnThree" onclick="nextPrevThree(1)">Next</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade delete-cate" id="delete-eve-cont" role="tabpanel" aria-labelledby="delete-eve-tab" tabindex="0">
                <form class="step-form-holder" id="updateCateForm" action="">
                    <h1 class="step-form-header">Delete Event</h1>
                    <div class="step-form-showed">
                        <label for="delCateChoose" class="form-label">Choose Category</label>
                        <select name="name" class="form-select" id="delCateChoose">
                            <option value="eduId">Education</option>
                            <option value="sptId">Sport</option>
                            <option value="campId">Camping</option>
                        </select>
                    </div>
                    <div class="step-buttons">
                        <button type="button">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    let addEveSgstChooseCate = document.getElementById("addEveSgstChooseCate");
    let addEveSgstChooseCateIndex;
    let theForm = document.getElementsByTagName('form')[0];
    let theFormTwo = document.getElementsByTagName('form')[1];
    $(document).ready(function() {
        $('#addEveChooseSgst').change(function() {
            $.ajax({
                url: `/admins/events/ajaxSuggest/${$(this).val()}`,
                dataType: 'json', // specify data type
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    document.getElementById('newEveNameSgst').setAttribute('value', `${data.name}`);
                    document.getElementById('newEveDescSgst').innerHTML = `${data.description}`;
                    // Find the index of the option with category Id
                    addEveSgstChooseCateIndex = Array.from(addEveSgstChooseCate.options).findIndex(option => option.value.toString() == data.categoryId.toString());
                    // Set the selected index to the index of the matching option
                    addEveSgstChooseCate.selectedIndex = addEveSgstChooseCateIndex;

                },
                error: function() {
                    console.log('Error!');
                }
            });
        });
    });
</script>
<%- include('../partials/adminPartials/footer.ejs') %>
<% } else { %>
    <h1 style="color: red;font-weight: bold;text-align: center;">سوو لوقن أول دبحتونا</h1>
    <h2 style="color: black;font-weight: bold;text-align: center;"><a href="/auth/google" class="login">عصو هني</a></h1>
<% }  %>